.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
MarkdownStyle.css
vsc-extension-quickstart.md
shared/*.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.svg
**/.vscode-test.*
webview/
!webview/dist
persona*.md
esbuild.cjs
*.code-workspace
*tsbuildinfo
*.sentry-build-plugin
eslint.config.mjs
node_modules
*.token
out/
!out/extension.js
!out/*.md
!out/**/*.md
!out/assets/logo128x128.png
!out/LICENSE
**/.env.*
